@media screen and (max-width: 768px) {

    .container {
        width: 100%;
    }

    .album {

        display: flex;
        flex-wrap: wrap;
        width: calc((100% - 20px) / 2);
    }

    .text-player ul {

        font-size: 15px;
    }

    .text-btn {
        margin-top: 10px;
    }

    .text-user p {
        font-size: 15px;
    }

}

@media screen and (max-width: 601px) {

    .container {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .search-heder {
        display: none;
    }

    .column-left {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .column-right {
        display: none;
    }


}