* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden ;
}

.debug {
border: 1px dashed black;
}

.debug header {
    background-color: aqua;
    width: 100%;
    height: 70px;
}

.debug .logo {
    background-color: brown;
    width: 10%;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;

}