* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden ;
}


.container {
    width: 100%;
}

.debug {
border: 1px dashed black;
}

/* debug header*/
.debug header {
    background-color: aqua;
}

.debug .logo {
    background-color: brown;
    width: 70px;
    height: 50px;
}

.debug .search {
    background-color: brown;
    width: 70px;
    height: 50px;
}


/* fine debug header*/

/* header*/
header {
 width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bar-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 10px;
}

.bar-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 10px;
}
/* fine header search-bar */

/* header debug seconda parte*/

.debug .color {
    background-color: black;
    width: 100%;
    height: 50px;
}

.debug .search-music {

    padding: 5px;
    margin: 10px;
    
}

/* header seconda parte*/

/* fine header seconda parte*/

/*inizio debug main*/

.debug .column-left{
    background-color: brown;
    width: 70%;
    height: 1000px;
}

.column-right {
    background-color: green;
    width: 30%;
    height: 1000px;

}

/* fine debug main*/

/* inizio main*/

.column {
    display: flex;
    gap: 5px;
}