* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden ;
}


.container {
    width: 100%;
}

.debug {
border: 1px dashed black;
}

/* debug header*/
.debug header {
    background-color: aqua;
}

.debug .logo {
    background-color: brown;
    width: 70px;
    height: 50px;
}
.debug .search {
    background-color: brown;
    width: 70px;
    height: 50px;
}


/* fine debug header*/

/* header*/
header {
 width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bar-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 10px;
}

.bar-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 10px;
}
